.container {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  background-color:white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:600px;
  margin: auto;
}
.powderblue{
  background: rgba(196, 196, 196, 0.4);
border-radius: 14px;
padding: 50px;
font-size: 30px;
font-weight: bold;

}

.powdergray{
  background: white;
border-radius: 14px;
padding: 50px;
font-size: 30px;
font-weight: bold;
width: 100%
}
.powderwhite{
  background: white;
border-radius: 14px;
padding: 50px;
font-size: 30px;
font-weight: bold;

}
.powdergreen{
  background: white;
border-radius: 14px;
padding: 50px;
font-size: 30px;
font-weight: bold;
 
}
.search{
  text-align: center;
}
.changCol{
  color:red;
}
.changCol2{
  color:green;
}






.deepblue{
  color: #0C009B;
  text-align: center;
}
.deepblueBorder{
  text-align: center;
  border: 2px solid;
  border-radius: 16px;
  padding: 15px;
border-image-source: linear-gradient(0deg, #FFFFFF, #FFFFFF),
linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);


}

.deepgreen{
  color:#009b05;
  text-align: center;
}
.pollboxopen {
  background-color:rgba(0, 0, 0, 0.85);
  padding: 2em;
  border-radius: 1em 1em 1em 1em;
  z-index:1;
}
.pollboxthird {
  background-color: gray;
  padding: 2em;
  border-radius: 1em 1em 1em 1em;
  z-index:1;
}
.pollbox {
  background-color: #0C009B;
  padding: 2em;
  border-radius: 1em 1em 1em 1em;
  z-index:1;
}
.pollboxBI {
  background-color:white;
  padding: 2em;
  border-radius: 1em 1em 1em 1em;
  z-index:1;
}

.p2p{
  flex:1;
  justify-content: space-between;
  width: 100%;
  color:#0C009B;

}
.p2p1{
  display:inline-block;
  margin:0em
}
.p2p2{
  float: right;
}
.frame{
box-sizing: border-box;
border-radius: 14px;;
}
.main {
  padding: 5rem 0em;
  flex: 1;
  display: flex;
  color:white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: blueviolet;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color:white;
}

.title,
.description {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
text-align: center;
letter-spacing: -0.02em;


}

.description h3 {
    font-family:'Open Sans';
    font-weight: bold;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

}
.fontW{
  height: 1em;
  width: 1em;
  display:inline-block;
  margin-inline: 5em;
}

.floatRight {
  float:right;
}

.submit {
  background: #BC0E0E;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.submit:disabled {
  background: gray;
  cursor: default;
}
.field {
  width: 100%;
  border-radius: 4px;
  padding: 8px;
}

.label {
font-family: 'Open Sans';
font-style: italic;
font-weight: bold;
font-size: 18px;
line-height: 19px;
letter-spacing: -0.02em;
display:block;
text-align:left;
margin-top: 5px;
}

.fontW {
  font-size: 48px;
}
